.notification {
  .notification-message {
    color: red;
    width: 100%;
    margin-bottom: 20px;
    min-height: 100px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
  }
}
